body {
    margin: 0;
    font-family: Arial, sans-serif;
}
  
/*--- HEADER --- */
header {
    background-color: #009694;
    color: #fff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo a {
    color: white;
    font-size: 30px;
    text-decoration: none;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav ul li {
    display: inline;
    margin-right: 20px;
}
  
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

/*--- INTRO --- */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 150px;
    padding-left: 150px;
    color: #323232;
}
 

/*--- CARD --- */
.card {
    width: 300px; /* 25% width for each card with some space between */
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #2DC2AC;
    border-radius: 5px;
    text-align: center;
}
  
.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card button {
    border: 1px solid #2DC2AC;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.card h2 {
    font-size: 20px;
}

.card p {
    font-size: 14px;
}

.testo {
    display: flex;
}

.testo p {
    font-size: 18px;
    color: #323232;
    padding: 20px;
    line-height: 25px;
}
  
/*--- FOOTER --- */
footer {
    background-color: #009694;
    color: #fff;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}
  
.footer-content {
    display: flex;
    justify-content: space-between;
}

footer .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer h3 {
    text-align: center;
}
  
footer p {
    margin: 0;
}
  
footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
footer nav ul li {
    display: inline;
    margin-right: 20px;
}
  
footer nav li a {
    color: #fff;
    text-decoration: none;
}
  
/* VERSIONE MOBILE */
@media only screen and (max-width: 768px) {
    .intro h1 {
        font-size: 24px;
    }

    .main-content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 20px;
    }

    .testo p {
        font-size: 16px;
    }

    footer {
        padding: 20px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
    }

    footer .info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    footer h3 {
        text-align: left;
    }
}